@model AuthUser
@{
    ViewData["Title"] = "Archivos";
    ViewData["SubTitle"] = "Listado";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<h2 class="text-center mb-4">@ViewData["Title"]</h2>

<div class="mt-5">
    <div class="alert alert-warning" role="alert">
        Este apartado queda de tarea al estudiante.
    </div>
</div>
